.mejs__playlist-button,
.mejs-playlist-button {
    position: relative;
}
.mejs__playlist-button > button,
.mejs-playlist-button > button {
    background: url('playlist.svg') no-repeat transparent;
}
.mejs__prev-button > button,
.mejs-prev-button > button {
    background: url('prev.svg') no-repeat transparent;
}

.mejs__next-button > button,
.mejs-next-button > button {
    background: url('next.svg') no-repeat transparent;
}
.mejs__playlist-button > .mejs__playlist-selector,
.mejs-playlist-button > .mejs-playlist-selector {
    background: rgba(50, 50, 50, 0.7);
    border: solid 1px transparent;
    border-radius: 0;
    bottom: 100%;
    margin-right: -43px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 50%;
    visibility: visible;
    width: 86px;
}

.mejs__playlist-selector-list,
.mejs-playlist-selector-list {
    list-style-type: none !important;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.mejs__playlist-selector-list-item,
.mejs-playlist-selector-list-item {
    color: #fff;
    cursor: pointer;
    display: block;
    list-style-type: none !important;
    overflow: hidden;
    padding: 0 5px;
}

.mejs__playlist-selector-list-item:hover,
.mejs-playlist-selector-list-item:hover {
    background-color: rgb(200, 200, 200) !important;
    background-color: rgba(255, 255, 255, 0.4) !important;
}

.mejs__playlist-selector-list-item > img,
.mejs-playlist-selector-list-item > img {
    max-width: 100%;
}

.mejs__playlist-selector-input,
.mejs-playlist-selector-input {
    clear: both;
    float: left;
    left: -1000px;
    margin: 3px 3px 0 5px;
    position: absolute;
}

.mejs__playlist-selector-label,
.mejs-playlist-selector-label {
    cursor: pointer;
    float: left;
    font-size: 10px;
    line-height: 15px;
    padding: 4px 0 0;
}

.mejs__playlist-selected,
.mejs-playlist-selected {
    color: rgba(33, 248, 248, 1);
}

.mejs__playlist-translations {
    font-size: 10px;
    margin: 0 0 5px;
}

.mejs__playlist-layer {
    bottom: 0;
    color: #fff;
    font-size: 16px;
    left: 0;
    line-height: 20px;
    position: absolute;
    text-align: center;
}